* {
    box-sizing: border-box;
}

body {
    font-family: $font-base;
    width: 100vw;
}

.container {
    padding-right: 142px;
    width: 100vw;
    overflow: hidden;

    @media (max-width: 970px) {
        padding-right: 15%;
    }
}
